.banner {
    height: 300px;
    width: 100%;
    background-color: deepskyblue;
    .content {
        max-width: 1300px;
        margin: 0 auto;
        height: 100%;
        // padding: 80px 40px;
        display: flex;
        align-items: center;
        h1 {
            font-size: 48px;
            color: #fff;
        }
    }
}