//BASIC RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

//

body {
    height: 100vh;
    width: 100%;
    background-image: url('../images/fabian-quintero-UWQP2mh5YJI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}