form {
    background-color: rgba(0,0,0,.4);
    padding: 40px 20px;
    div {
        min-width: 300px;
        position: relative;
        * {
            display: block;
        }
        i {
            position: absolute;
            top: 50px;
            right: 30px;
            display: none !important;
        }
        .wrong {
            border: 1px solid crimson;
            &~.fa-exclamation-circle {
                color: crimson;
                display: block !important;
            }
            &~.wrongText {
                display: block;
                color: crimson;
            }
        }
        .wrongText {
            display: none;
        }
        .good {
            border: 1px solid forestgreen;
            &~.fa-check-circle {
                color: forestgreen;
                display: block !important;
            }  
        }

        label, input {
            margin-bottom: 10px;
        }
        input, textarea {
            padding: 10px 20px;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
        }
        label {
            color: #fff;
            font-weight: 700;
            font-size: 15px;
        }
        textarea {
            resize: none;
            height: 150px;
            margin-bottom: 20px;
        }
    }
    button {
        padding: 10px 20px;
        border: 1px solid #fff;
        color: #fff;
        background-color: transparent;
        transition: .3s linear;
        font-size: 16px;
        position: relative;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        span {
            position: relative;
            z-index: 2;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            width: 0;
            background-color: #fff;
            transition: .3s linear;
        }
        &:hover {
            color: #333;
            &:after {
                width: 100%;
            }
        }
    }
}